<%- include('partials/header') -%>

<head>

<style>
  /* media="screen"> */
  #map{
    height: 100%;

    /* width:100%; */
  }
  html, body {
    height: 100%;
    margin: 0;
    padding-bottom: 0px;
  }
</style>

</head>

<body>

<div id="map"></div>

  <script>
  // Initialize and add the map
  function initMap() {

  // map options
    var options = {
      zoom:4,
      center:{lat: 40, lng: -96.887}
    }

  // The map
    var map = new google.maps.Map(
        document.getElementById('map'), options);


// labels and makers locations
var labels = [];
labels.push(<%=cases%>);
console.log(labels.slice(1,5));

var loc = []
loc.push(<%=locations%>)

   var markers = loc.map(function(location, i) {
    return new google.maps.Marker({
      position: location,
      label: labels[i].toString()
      });
    });

// Add a marker clusterer to manage the markers.
   var markerCluster = new MarkerClusterer(map, markers,
       // {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
       {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

 markerCluster.setCalculator(function(markers, numStyles) {
  var val=0,//this will be the text you see in the cluster-icon
      index=0,
      dv;

  for(var m=0;m<markers.length;++m){
    //add the value of the markers prop-property to val
    val+=Number(parseInt(markers[m].label));
  }
  dv = val;
  while (dv !== 0) {
    dv = parseInt(dv / 10, 10);
    index++;
  }

  index = Math.min(index, numStyles);
  return {
    text: val,
    index: index
  };
}
);
}
      </script>

      <!-- Replace following script src -->
      <!-- <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js"> -->
      <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js">
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3gCGu6LVjICMz1Fv_f2gXPmqDAsH4ZBQ&callback=initMap">
      </script>
</body>
