<%- include('partials/header') -%>

<!-- <head>

  <style>
    /* media="screen"> */
    #map {
      height: 80%;

      /* width:100%; */
    }

    html,
    body {
      height: 100%;
      margin: 0;
      padding-bottom: 0px;
    }
  </style>

</head> -->

<body>

  <button id="btn-location">Current</button>
  <div id="map"></div>

  <script>

   var map;
   var btnLocation = document.getElementById("btn-location");
   var myLocation = {lat: 40, lng: -96};

    // Initialize and add the map
    function initMap() {
      if (navigator.geolocation) {
         navigator.geolocation.getCurrentPosition(function(position) {

           myLocation.lat = position.coords.latitude;
           myLocation.lng = position.coords.longitude;

           // Added a marker for you to verify your location
          var myloc = new google.maps.Marker({
            clickable: false,
            icon: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m1.png",
            // shadow: null,
            zIndex: 999,
            position: myLocation,
            map: map,
            label: 'me'
          });

           map.setCenter(myLocation);
         }, function(){
           handleLocationError(true, map.getCenter());
         });
       }
      else {
        handleLocationError(false, map.getCenter());
      }

      // The map
      map = new google.maps.Map(
        document.getElementById('map'), {
          zoom: 4,
          center: myLocation,
          mapTypeId: 'terrain'
        });

      // labels and makers locations
      var labels = [];
      labels.push( <%= cases %> );
      console.log(labels.slice(1, 5));

      var loc = []
      loc.push( <%= locations %> )

      var markers = loc.map(function(location, i) {
        return new google.maps.Marker({
          position: location,
          label: labels[i].toString()
        });
      });

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
        // {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
        {
          imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        });

      markerCluster.setCalculator(function(markers, numStyles) {
        var val = 0, //this will be the text you see in the cluster-icon
          index = 0,
          dv;

        for (var m = 0; m < markers.length; ++m) {
          //add the value of the markers prop-property to val
          val += Number(parseInt(markers[m].label));
        }
        dv = val;
        while (dv !== 0) {
          dv = parseInt(dv / 10, 10);
          index++;
        }

        index = Math.min(index, numStyles);
        return {
          text: val,
          index: index
        };
      });

    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  console.log(browserHasGeolocation ?
    'Error: The Geolocation service failed.' :
    'Error: Your browser doesn\'t support geolocation.');
}


btnLocation.addEventListener('click', function() {
  goToMyLocation();
});

function goToMyLocation() {
  map.setCenter(myLocation);
}

  </script>

  <!-- Replace following script src -->
  <!-- <script src="/maps/documentation/javascript/examples/markerclusterer/markerclustererplus@4.0.1.min.js"> -->
  <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js">
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3gCGu6LVjICMz1Fv_f2gXPmqDAsH4ZBQ&callback=initMap">
  </script>

<h3>Coronavirus Map</h3>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- First ads -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8965439943903969"
     data-ad-slot="1300487428"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>
